@import "colors";
@import "tipografia";
@import "skeleton";

.container {
  width: auto;
  height: 650px;
  background-color: $back-first-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  width: 22%;
  height: 90%;
  background-color: $back-second-color;
}

.tag1 {
  width: 4%;
  height: 3%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 26.2%;
  top: 5.2%;
  z-index: +3;
  transform: rotate(45deg);
  font-weight: bold;
  overflow: hidden;
}
.tag2 {
  width: 4%;
  height: 3%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2%;
  top: 5.2%;
  z-index: +3;
  transform: rotate(45deg);
  font-weight: bold;
  overflow: hidden;
}
.boxcontent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0%;
  padding: 0%;
}

.img {
  display: block;
  width: 90%;
  height: 50%;
}

img {
  width: 100%;
  height: 100%;
  scale: 100%;
  object-fit: cover;
}

.texto {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0%;
  gap: 0%;
}

.titulo {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  height: 20%;
  margin: 0%;
}

.descricao {
  height: 15%;
}

.paragrafo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 65%;
}

.botao {
  width: 90%;
  height: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.botaoesq {
  width: 40%;
  height: 60%;
  background-color: $back-second-color;
  border: 1px solid $first-text-color;
  font-weight: bold;
}

.botaodir {
  width: 40%;
  height: 60%;
  background-color: $first-text-color;
  color: $second-text-color;
  font-weight: bold;
  border: 1px solid $first-text-color;
}
